spring.application.name=You-Tube-Tools
server.port=8080

youtube.api.key=YOUR_ACTUAL_API_KEY_HERE
youtube.api.base.url=https://www.googleapis.com/youtube/v3
youtube.api.search.url=${youtube.api.base.url}/search
youtube.api.videos.url=${youtube.api.base.url}/videos

youtube.api.max.related.videos=10

allowed.origin=http://localhost:3000